{
  angular: [
    'data.name'
    'data.one_liner'
    'data.store_link'
    'data.product_page_link'
    'data.type'
    'data.image_id'
    'data.platform_id'
    'data.unit_price'
    'data.mpn'
    'data.get_started_link'
    'data.documentation_link'
    'data.libraries_link'
    'data.datasheet_link'
    'data.description_html'
    'data.tags'
    'data.private'
  ]
}
